<TR>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{rank}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{name}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{PYnumtrades}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{PYvolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A;"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{PYvalue}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{YTDnumtrades}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{YTDvolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A;"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{YTDvalue}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{MTDnumtrades}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{MTDvolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A; padding-right: 10px"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{MTDvalue}}</TD>
</TR>