<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US"
				style="margin-top: 0.1in; margin-bottom: 0in; border: none; padding: 0in">
				<font color="#EE1B2E"><font size=2
					style="font-size: 11pt"><B>{{category}}</B></font></font> <br>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top align="left">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0 style="font-size:9pt">
				<TR>
					<TD STYLE="border-top: 1px solid #bebebe; padding-left: 10px; width:6%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Rank</FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:17.5%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Broker
								</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>PY #
								Trades</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>PY Volume
					</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:9%;" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>
								PY Value</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>YTD #
								Trades</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>YTD Volume
					</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:9%;" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>
								YTD Value</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>MTD #
								Trades</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>MTD Volume
					</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:9%; padding-right: 10px" ALIGN=RIGHT
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>
								MTD Value</b></FONT></TD>
				</TR>
				{{atTableRow}}
			</table> <br>
		</td>
	</tr>