<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give me a call or click the link to <A href="mailto:andrew.moffatt@scotiabank.com?subject=Halftime%20Show%20Feedback">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Thanks</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Bill</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a">Scotiabank
| Global Banking and Markets | Portfolio Trading</font></p>

<p lang="en-GB" style="border: none; padding: 0in">
<strong><font FACE="Arial, sans-serif" color="#5a5a5a"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">Bill Liu</span></font></font></strong>
<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">|
416.863.5308 | <A href="mailto:ZhiTony.Ye@scotiabank.com">billjd.liu@scotiabank.com</A><br></span></font>
</p>