<TR>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{rank}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{name}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{numtrades}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiaRank}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{volume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 10pt; color: #5A5A5A; padding-right: 30px"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{value}}</TD>
</TR>