	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.17in; border: none; padding: 0in">
						<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Canadian
						M&amp;A Update</B></font></font>
						<br>
						</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">
				<img src="{{marbImage}}" name="graphics3" width=720 align=bottom border=0></font>
			</p>	
		</td>
	</tr>
	<tr>

<!-- 			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a"><B>
			Please note: Cash or Stock deals are subject to proration (for more information contact: Colin Thacker)<br>	
			Source: Bloomberg</B></p>
			<br>	 -->
		<td colspan=2 width=720 valign=top>	
			<table width=720 border=0 CELLPADDING=0 CELLSPACING=0>
				<tr valign=top>
					<td align="left">
							<strong><font color="#5a5a5a"><font size=1>Please note: Cash or Stock deals are subject to proration (for more information contact: Colin Thacker)</font></font></strong>
					</td>
					<td align="right">
						<strong><font color="#5a5a5a"><font size=1>Source: Bloomberg</font></font></strong>									
					</td>
				</tr>
			</table>	
		</td>				

	</tr>
		<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>