<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give us a call or click the link to <A href="mailto:chad.reed@scotiabank.com?subject=Scotiabank%20Chalk%20Talk">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Thanks</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Chad and Bilal</font><br><br><br><br></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a">Scotiabank
| Global Banking and Markets | Portfolio Trading</font></p>


			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif" color="#5a5a5a"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">Chad
			Reed, CFA, Head of Portfolio Trading</span></font></font></strong>
			<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">|
			416.863.7598 | <A href="mailto:chad.reed@scotiabank.com">chad.reed@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">Scott
			Macdonald</span></font></font></strong><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">
			| 416.863.2839 | <A href="mailto:scott.macdonald@scotiabank.com">scott.macdonald@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">Bilal
			Ijaz, CFA</span></font></font></strong><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">
			| 416.863.7748 | <A href="mailto:bilal.ijaz@scotiabank.com">bilal.ijaz@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">George
			Gardiner</span></font></font></strong><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">
			| 416.863.7470 | <A href="mailto:george.gardiner@scotiabank.com">george.gardiner@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">Andrew
			Moffatt, CFA</span></font></font></strong><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">
			| 416.863.7181 | <A href="mailto:andrew.moffatt@scotiabank.com">andrew.moffatt@scotiabank.com</A><br></span></font>&nbsp;</p>