<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<style type="text/css">
	<!--
		@page { margin: 0.79in }
		p { 
			color: #000000 
		}
		TD P { 
			color: #000000; 
		}
		A:link { 
			color: #d81b2d 
		}
		A:visited { 
			color: #d81b2d 
		}
		.mainTable {
			width: 698;
			border-spacing: 0;
			border-collapse: separate;
		}
		#wrapper {
			border: 1px solid #a5a5a5;
			padding: 20px;
		}
		#chalkTalk {
			color: #D81E05;
			font-size: 20;
		}
		body {
			font-family: arial; 
		}
		.footerTable {
			padding-left: 0px; 
			padding-right: 0px;
			width: 773px;
		}
		.small-margin{
			margin-block-end: 0.2em !important;
		}
		.small-margin-title{
			margin-block-start: 0.2em !important;
		}
	-->
	
	</style>
</head>
<body lang="en-CA" TEXT="#000000" LINK="#d81b2d" VLINK="#d81b2d">
<div align=center>
	<table id="wrapper">
	<td>
<table class="mainTable">
	<tr valign=top>
		<td>
			<a href="http://www.gbm.scotiabank.com/Products&Services/Global_Equity/PR_GE_Portfolio.htm">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/logoImage.png" name="graphics1" align=bottom width=250 height=43 border=0>
			</A>
		</td>
		<td width=385 style="text-align: right"<font size=3 style="font-size: 13pt" color="#808285">{{group}} TRADING</span></font> &nbsp;<font size=3 style="font-size: 13pt" color="#D81B2E"><span lang="en-US">|</span></font>&nbsp;
			<font size=3 style="font-size: 13pt" color="#5a5a5a"><span lang="en-US">MORNING
			UPDATE</span></font><span lang="en-US"><br><br></span><font size=2 color="#5a5a5a"><span lang="en-US">{{formattedDate}}</span></font>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=720 valign=top style="width:546.1pt; padding:0in 0in 0in 0in; height:18.75pt">
		<p align="center" style="text-align:center">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/underlineImage.png" name="graphics2" align=bottom width=720 height=25 border=0>
		</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in" id="chalkTalk">The Chalk Talk</p>
		</td>
	</tr>
{{PertinentRevisions}}
{{ResearchHighlights}}
{{BeforeBell}}
{{MustRead}}
{{NamesNews}}
{{MacroCommentary}}
{{IndexEvents}}
{{CanadianMA}}
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a"><br><br><br><br></p>			
			{{emailSignature}}
			<br>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a">Scotiabank's
			Equity Team Achieves Stellar Results in the 2018 Greenwich Associates Rankings. <br>Click <A href="http://www.scmonline.com/analytics/reports/GBM-SALESSHEET-Greenwich-0518_Final.pdf" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif"><span lang="en-US"><font size=2 color="#5a5a5a">Registered
			ScotiaView users: </font></span></font></strong><span lang="en-US"><font size=2 color="#5a5a5a">Click
			<A href="http://email.scotia.streetcontxt.net/platform/l/ev747k4llKAQ-ECGkKv_R6Gb" TARGET="_blank">here</A>
			to access Global Equity Research Audiocasts.</font><br>&nbsp;</span><br><br></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">
			<br>
			<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US">Scotiabank
			</span></font></font></font></strong>&nbsp;<font size=2 color="#5a5a5a"><span lang="en-US">|&nbsp;
			Global Banking and Markets</span></font><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US"><br>Scotia
			Plaza, 40 King Street West, 68th Floor, Toronto, Ontario Canada
			M5W 2X6<br><A href="htpp://www.scotiabank.com" TARGET="_blank">www.scotiabank.com</A></span></font></font></font></p>
			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a" style="font-size: 8pt">Scotiabank
			is a business name used by Scotia Capital Inc. </font>
			<br><br>
			</p>
		</td>
	</tr>
</table>
</td>
</table>

</table>

	<table class="footerTable">
		<tr>
		<td>
			<p lang="en-US" style="margin: 0; margin-top: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">This message, and any attachments, is for the intended recipient(s) only.</font></p>
			<p lang="en-GB" style="margin: 0; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">Please click this link <A href="mailto:chad.reed@scotiabank.com">
			chad.reed@scotiabank.com</A> to email the sender for removal from this specific note/publication.</span></font></p>
			<p lang="en-GB" style="margin: 0; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">For important disclosures, please 
			<A href="http://gbm.scotiabank.com/AboutUs/ScotiaCapital_Sales-Trading-Commentary-Disclosure_Institutional-Equity.pdf" TARGET="_blank">
			CLICK HERE</A> regarding market commentary from Scotia Capital Inc. Institutional Equity Sales and Trading.</span></font></p>
			<p lang="en-GB" style="margin: 0; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">For Reg AC Certification and
			important disclosures, please visit
			<A href="http://email.scotia.streetcontxt.net/platform/l/tVI5awcCmzkEfBh_Tgxj6z6S" TARGET="_blank">http://gbm.scotiabank.com/disclosures</A>.</span></font>
			</p>
		</td>
		</tr>
	</table>
</div>
</body>
</html>