				<tr valign=top>
					<td>
						<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
							<tr valign=top>
								<td align="left">
										<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 10pt"><a name="{{belongsTo}}">{{FirmName}} ({{belongsTo}}, {{rating}}, ${{prevclose}} cl / {{target}} TP)</a></font></font></font></strong>
								</td>
								<td align="right">
									<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 10pt"><A href="{{researchLink}}" TARGET="_blank">Click for Latest Research</A></font></font></font></strong>									
								</td>
							</tr>
							<tr valign=top>
								<td colspan=2 >
								<p lang="en-GB" style="margin-bottom: 0.17in; border: none; padding: 0in; text-align: justify"><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">{{body}}

								<br><br>
								</font></font></font>
								</p>
								</td>
							</tr>
						</table>
						<p lang="en-GB"><br><br>
						</p>
					</td>

				</tr>