<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<style type="text/css">
	<!--
		@page { margin: 0.79in }
		p { 
			color: #000000 
		}
		TD P { 
			color: #000000 
		}
		A:link { 
			color: #d81b2d 
		}
		A:visited { 
			color: #d81b2d 
		}
		.mainTable {
			width: 698;
			border-spacing: 0;
			border-collapse: separate;
		}
		#wrapper {
			border: 1px solid #a5a5a5;
			padding: 20px;
		}
		#chalkTalk {
			color: #D81E05;
			font-size: 20;
		}
		body {
			font-family: arial; 
		}
		.footerTable {
			padding-left: 0px; 
			padding-right: 0px;
			width: 773px;
		}
	-->
	
	</style>
</head>
<body lang="en-CA" TEXT="#000000" LINK="#d81b2d" VLINK="#d81b2d">
<div align=center>
	<table id="wrapper">
	<td>
<table class="mainTable">
	<tr valign=top>
		<td>
			<a href="http://www.gbm.scotiabank.com/Products&Services/Global_Equity/PR_GE_Portfolio.htm">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/logoImage.png" name="graphics1" align=bottom width=250 height=43 border=0>
			</A>
		</td>
		<td width=385 style="text-align: right">
			<font size=3 style="font-size: 13pt" color="#5a5a5a"><span lang="en-US">ENERGY BLAST</span></font><span lang="en-US"><br><br></span><font size=2 color="#5a5a5a"><span lang="en-US">{{formattedDate}}</span></font>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=720 valign=top style="width:546.1pt; padding:0in 0in 0in 0in; height:18.75pt">
		<p align="center" style="text-align:center">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/underlineImage.png" name="graphics2" align=bottom width=720 height=25 border=0>
		</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in" id="chalkTalk">
				Daily Morning Energy Blast
			</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in" id="chalkTalk">
				<font color="#5a5a5a" style="font-size: 10pt"><br>
Good morning, our thoughts on the energy sector today are as follows. Please respond to this email with any questions or to access research / additional analysis. <br> <br>
Paul: 403-213-7774 or <A href="mailto:paulw.lee@scotiabank.com">paulw.lee@scotiabank.com</A> <br>  
Ryan: 403.218.3259 or <A href="mailto:ryan.galloway@scotiabank.com">ryan.galloway@scotiabank.com</A> <br>

</font>
			</p>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.17in; border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Names
			in the News</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
			{{symbolComments}}
			</table>
		</td>
	</tr>
		<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.17in; border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Scotia Energy Sales and Trading Contacts</B></font></font>


			<font color="#5a5a5a" style="font-size: 9pt">
			<ul>
				<li style = "padding-bottom: 4px">Paul W. Lee 403-213-7774 (Energy Institutional Sales) 
				</li>
				<li style = "padding-bottom: 4px">Ryan Galloway 403-218-3259 (Energy Institutional Sales)
				</li>	
				<li style = "padding-bottom: 4px">Scott Wigle 416-863-7511 (Energy Trading)
				</li>
				<li style = "padding-bottom: 4px">Boston: Chris Smith 617-330-1477 (Equity Sales) 
				</li>
				<li style = "padding-bottom: 4px">NYC: Bryan Mitchener 212-225-6605 (Equity Sales) 
				</li>
				<li style = "padding-bottom: 4px">NYC: Vivek Viswanathan (212.225.6681)
				</li>
				<li style = "padding-bottom: 4px">NYC: Lauren Wisniewski (212-225-6628)
				</li>	
				<li style = "padding-bottom: 4px">London: Mark Coakley 011-44-20-7826-5881 (Equity Sales)
				</li>
			</ul>
			</font>


			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Scotia Energy Research Contacts</B></font></font>
			<font color="#5a5a5a" style="font-size: 9pt">
			<ul>
				<li style = "padding-bottom: 4px">Cameron Bean 403-218-6786 (Cdn Junior E&amp;P)
				</li>
				<li style = "padding-bottom: 4px">Jason Bouvier 403-213-7345 (Senior and Integrated E&amp;P) 
				</li>	
				<li style = "padding-bottom: 4px">Patrick Bryden 403-213-7750 (Cdn Intermediate/Yield E&amp;P)
				</li>
				<li style = "padding-bottom: 4px">Robert Hope 416-863-7798 (Energy Infrastructure) 
				</li>
				<li style = "padding-bottom: 4px">Michael Loewen 416-863-7985 (Energy Strategy)
				</li>
				<li style = "padding-bottom: 4px">Vladislav Vlad 403-213-7759 (Oilfield Services)  
				</li>
				<li style = "padding-bottom: 4px">Gavin Wylie 403-213-7333 (Cdn International E&amp;P) 
				</li>	
			</ul>
			</font>	
			</p>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in"></p>
			{{emailSignature}}
			<br>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a"><br>Scotiabank's
			Global Equity Team Achieves Stellar Results in the 2015 Brendan
			Wood International Survey. Click <A href="http://email.scotia.streetcontxt.net/platform/l/IeHZJIwYowS3kEH_iAyOkK2t" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a">Scotiabank's
			Equity Team Recognized as a 2015 Greenwich Associates Share &amp;
			Quality Leader. <br>Click <A href="http://email.scotia.streetcontxt.net/platform/l/vvYOQ1jQ0Zv7m5hQfR-myLHF" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a">Scotiabank's
			Equity Research Team Earns the #1 Spot in the 2015 Thomson Reuters
			Analysts Awards. <br>Click <A href="http://email.scotia.streetcontxt.net/platform/l/2z0v2yq4KM-FywqvENXN_Wdv" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif"><span lang="en-US"><font size=2 color="#5a5a5a">Registered
			ScotiaView users: </font></span></font></strong><span lang="en-US"><font size=2 color="#5a5a5a">Click
			<A href="http://email.scotia.streetcontxt.net/platform/l/ev747k4llKAQ-ECGkKv_R6Gb" TARGET="_blank">here</A>
			to access Global Equity Research Audiocasts.</font><br>&nbsp;</span><br><br></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">
			<br>
			<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US">Scotiabank
			</span></font></font></font></strong>&nbsp;<font size=2 color="#5a5a5a"><span lang="en-US">|&nbsp;
			Global Banking and Markets</span></font><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US"><br>Scotia
			Plaza, 40 King Street West, 68th Floor, Toronto, Ontario Canada
			M5W 2X6<br><A href="htpp://www.scotiabank.com" TARGET="_blank">www.scotiabank.com</A></span></font></font></font></p>
			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a" style="font-size: 8pt">Scotiabank
			is a business name used by Scotia Capital Inc. </font>
			<br><br>
			</p>
		</td>
	</tr>
</table>
</td>
</table>

	<table class="footerTable">
		<tr>
		<td>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Copyright &copy; 2016, Scotiabank</font></p>
			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">To unsubscribe from this specific
			note/publication, email <A href="mailto:paulw.lee@scotiabank.com">paulw.lee@scotiabank.com</A>
			or contact Paul Lee at 403-213-7774.</span></font></p>

			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">For Reg AC Certification and
			important disclosures, please visit
			<A href="http://email.scotia.streetcontxt.net/platform/l/tVI5awcCmzkEfBh_Tgxj6z6S" TARGET="_blank">gbm.scotiabank.com/disclosures</A>.</span></font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Analysts employed by non-U.S. affiliates are not
			registered/qualified as research analysts with FINRA in the U.S.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">&trade;Trademark of The Bank of Nova
			Scotia. Used under license, where applicable. Scotiabank,
			together with &quot;Global Banking and Markets,&quot; is a
			marketing name for the global corporate and investment banking
			and capital markets businesses of The Bank of Nova Scotia and
			certain of its affiliates in the countries where they operate,
			including Scotia Capital Inc.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">This e-mail, including any attachments, is for the
			information of the addressee only, is considered confidential and
			should not be reproduced or distributed to any other person
			without the express consent of Scotia Capital Inc. (&quot;SCI&quot;).
			If you received this e-mail in error, please notify the sender by
			reply e-mail then delete it from your system. This transmission
			has been scanned for viruses, but it is the recipients&acirc;&euro;&trade;&nbsp;
			responsibility to conduct their own security measures. Nothing in
			this transmission constitutes an offer or a solicitation of an
			offer to purchase any security. SCI in no case directly or
			implicitly guarantees the future value of securities mentioned in
			this transmission. Any opinions, projections or estimates may be
			changed without notice. SCI, its affiliates, directors, officers
			and employees may buy, sell or hold a position in securities of a
			company mentioned herein, and may also perform financial advisory
			services, investment banking or other services for, or have
			lending or other credit relationships with the same and may have
			received compensation in relation thereto. Directors, officers or
			employees of SCI may serve as directors of a company mentioned
			herein. SCI makes no representation or warranty as to the
			completeness or accuracy of the information contained herein and
			accepts no responsibility or liability for loss or damage arising
			from the receipt or use of this e-mail or its contents. U.S.
			Residents: This report is being distributed by Scotia Capital
			Inc. directly to U.S. persons who are Major Institutional
			Investors only. Any U.S. institutional investor wishing further
			information or to effect transactions in any security discussed
			in this report should contact Scotia Capital (USA) Inc., a
			broker-dealer registered with the SEC and FINRA and a member of
			SIPC, at 1.800.262.5363. European Economic Area (EEA) Residents:
			In the EEA this document is distributed by Scotiabank Europe plc
			which is authorized by the Prudential Regulation Authority (PRA)
			and regulated by the Financial Conduct Authority (FCA) and the
			PRA. The contents hereof are not intended for the use of and
			should not be issued or passed on to retail clients as defined by
			the PRA and FCA and has not been prepared in accordance with
			legal requirements designed to promote the independence of
			investment research and is not subject to any prohibition on
			dealing ahead of the dissemination of investment research.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">This publication is not a research report.&nbsp;
			Consequently this commentary is not governed by rules applicable
			to the publication and distribution of research reports,
			including relevant restrictions or disclosures required to be
			included in research reports. This publication is not meant to
			provide information sufficient upon to base an investment
			decision, or to replace any due diligence or analytical work
			required by you in making investment decisions.&nbsp; This
			communication has been prepared and distributed by staff of
			Scotia Capital Inc.&#39;s Institutional Equity
			Sales and Trading Desk (a Canadian Investment Dealer, member of
			IIROC) solely for the use of sophisticated institutional
			investors. The opinions and statements contained herein are
			intended for information purposes only and are subject to change
			without notice. In addition, the opinions and statements
			contained herein are based on information taken from sources
			believed to be reliable, but no representation or warranty,
			express or implied, is made as to their accuracy, completeness,
			or timeliness. Furthermore, the opinions expressed herein
			represent the personal views of the writer and may not be shared
			by&nbsp; other members of the Institutional Equity Desk or other
			areas, units, divisions or affiliates of Scotia Capital Inc.&nbsp;
			Additionally, either the Institutional Equity Desk or other areas
			or divisions could trade in accordance with the views expressed
			or trade against these views.&nbsp; Any transactions by US
			Institutional Investors in any security mentioned or referenced
			in this publication cannot be effected through Scotia Capital
			Inc. and must be executed with a U.S. broker-dealer, including
			Scotia Capital (USA) Inc., an affiliate of Scotia Capital Inc. </font>
			</p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Scotia Capital Inc., its directors, officers,
			employees, affiliates or clients may currently or from time to
			time own or hold interests in long or short positions in the
			securities referred to herein, and may at any time make purchases
			or sales of these securities as principal or agent. Scotia
			Capital Inc. or its affiliates may have provided or may provide
			investment banking, capital markets advice or other services to
			the companies referred to in this communication. This email
			should not be construed as investment advice or as an offer to
			sell or a solicitation of an offer to buy any securities or other
			financial instruments.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Neither Scotia Capital Inc. nor any of its officers,
			directors, partners, employees or affiliates accepts any
			liability for any direct or consequential loss arising from this
			publication or its contents.&nbsp; Scotia Capital Inc. recommends
			that investors independently evaluate each issuer and security
			discussed in this publication, and consult with any advisors they
			deem necessary prior to making any investment.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Scotia Capital Inc. owns or controls an equity
			interest in TMX Group Limited and in excess of 1% of the issued
			and outstanding equity securities thereof.&nbsp; As such, Scotia
			Capital Inc. may be considered to have an economic interest in
			TMX Group Limited including the various marketplaces operated by
			it such as the Toronto Stock Exchange, the TSX Venture Exchange
			and the Alpha Exchange.&nbsp; </font>
			</p>
			<p lang="en-GB" style="margin-top: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">Redistribution of this email is
			strictly prohibited. If you believe that this email was sent to
			you in error, please forward a message to that effect as soon as
			practicable to <A href="mailto:trade.supervision@scotiabank.com">trade.supervision@scotiabank.com</A>.</span></font></p>
		</td>
		</tr>
	</table>
</div>
</body>
</html>