<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<style type="text/css">
	<!--
		@page { margin: 0.79in }
		p { 
			color: #000000 
		}
		TD P { 
			color: #000000 
		}
		A:link { 
			color: #d81b2d 
		}
		A:visited { 
			color: #d81b2d 
		}
		.mainTable {
			width: 698;
			border-spacing: 0;
			border-collapse: separate;
		}
		#wrapper {
			border: 1px solid #a5a5a5;
			padding: 20px;
		}
		#chalkTalk {
			color: #D81E05;
			font-size: 20;
		}
		body {
			font-family: arial; 
		}
		.footerTable {
			padding-left: 0px; 
			padding-right: 0px;
			width: 773px;
		}
	-->
	
	</style>
</head>
<body lang="en-CA" TEXT="#000000" LINK="#d81b2d" VLINK="#d81b2d">
<div align=center>
	<table id="wrapper">
	<td>
<table class="mainTable">
	<tr valign=top>
		<td>
			<a href="http://www.gbm.scotiabank.com/Products&Services/Global_Equity/PR_GE_Portfolio.htm">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/logoImage.png" name="graphics1" align=bottom width=250 height=43 border=0>
			</A>
		</td>
		<td width=385 style="text-align: right"><font size=3 style="font-size: 13pt" color="#5a5a5a"><span lang="en-US">MORNING NOTE</span></font><span lang="en-US"><br><br></span><font size=2 color="#5a5a5a"><span lang="en-US">Friday, September 28, 2018</span></font>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=720 valign=top style="width:546.1pt; padding:0in 0in 0in 0in; height:18.75pt">
		<p align="center" style="text-align:center">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/underlineImage.png" name="graphics2" align=bottom width=720 height=25 border=0>
		</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.17in; border: none; padding: 0in"><font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Morning Indications</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="margin-bottom: 0.17in; border: none; padding: 0in; text-align: justify"><strong><font color="#5a5a5a">
				<font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">Buy: </font></font></font></strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">AEM ($44.75), TRQ ($2.75), BAM.A ($57.25), KEL ($8.2), H ($19.5), SLF ($52.0), GCG.A ($25.17), NA ($65.0), SJRB ($25.25), ARE.DB.C ($101.0), AKT.A ($5.5), ARX ($14.0), H.IR ($26.0), ACB ($8.0)</font></font></font>
				</p>
				<p lang="en-GB" style="margin-bottom: 0.17in; border: none; padding: 0in; text-align: justify"><strong><font color="#5a5a5a">
				<font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">Sell: </font></font></font></strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">PRV.UN ($2.31), SID ($2.3), TCN ($11.0), IIP.UN ($11.95), ROOT ($6.55), L ($67.0), KML ($17.35), H.IR ($26.75)</font></font></font>
				</p>		
			</table>
			<br>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
</tr>

<tr>
	<td colspan=2 width=658 valign=top>
		<p lang="en-US" style="margin-top: 0.17in; margin-bottom: 0.07in; border: none; padding: 0in">
		<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Names
		in the News</B></font></font></p>
	</td>
</tr>
<tr>
	<td>
		<p lang="en-US" style="margin-top: 0.10in; margin-bottom: 0.10in; border: none; padding: 0in">
			<font color="#5a5a5a">
				<font size=2 style="font-size: 10pt">
					<B>Energy
					</B>
				</font>
			</font>
		</p>
	</td>
</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt">GTE (Sector Outperform, C$7.00): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt">Neutral - Announces publication of prospectus and proposed admission to trading on the London Stock Exchange to "broaden international investor base".  Common stock on the Main Market of the London Stock Exchange is expected to commence on or before October 10, 2018, under the ticker "GTE". <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>

	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt">CCO (Sector Perform, $15.00): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt">PT Chg - Increasing PT to $15 from $12 and upgrading our rating to SP from SU on a higher valuation following the very favourable legal ruling received from the Tax Court of Canada which appears to effectively end the CCO's dispute with the CRA. Although we believe a CRA appeal is likely, the tax court ruling appears to represent the best possible outcome for CCO. The Tax Court of Canada ruled that CCO's marketing and trading structure involving foreign subsidiaries and the related transfer pricing methodology used for intercompany uranium transactions are in full compliance with Canadian laws. <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>



<tr>
	<td>
		<p lang="en-US" style="margin-top: 0.10in; margin-bottom: 0.10in; border: none; padding: 0in">
			<font color="#5a5a5a">
				<font size=2 style="font-size: 10pt">
					<B>Consumer Discretionary
					</B>
				</font>
			</font>
		</p>
	</td>
</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt"><font color='#27AE60'>+ve</font> ACQ (Sector Perform, $15.00): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt"><font color="#27AE60">Positive</font> - Announced that its lenders have agreed to increase its Total Funded Debt to EBITDA covenant ratio to 4.5:1:0 (from 4.0:1.0) for the period from Q3/18 to Q2/19, despite management indicating that they "are very comfortable that the Company's Total Funded Debt to EBITDA Ratio will be well below 4.00:1.00". As we've previously discussed, we no longer believe a covenant trip is a key near-term risk. <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>



<tr>
	<td>
		<p lang="en-US" style="margin-top: 0.10in; margin-bottom: 0.10in; border: none; padding: 0in">
			<font color="#5a5a5a">
				<font size=2 style="font-size: 10pt">
					<B>Information Technology
					</B>
				</font>
			</font>
		</p>
	</td>
</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt"><font color='#27AE60'>+ve</font> BB (Sector Outperform, $12.50): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt"><font color="#27AE60">Positive</font> - Reported slightly better than expected Q2 results with top-line outperforming on the back of Enterprise Software & Services ($88M vs. SGBM $82M). BB reported revenue of $214M vs. us at $206M and cons. at $206M. Adj. EPS came in at $0.04 vs. us/consensus at $0.01. Given a stronger Q2 performance we had expected software revenues to decline slightly in Q2 so better than anticipated execution, following the weak performance in Q1. High revenues and better than expected gross margins (+120bps) were the primary driver of the adjusted EPS beats. <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>



<tr>
	<td>
		<p lang="en-US" style="margin-top: 0.10in; margin-bottom: 0.10in; border: none; padding: 0in">
			<font color="#5a5a5a">
				<font size=2 style="font-size: 10pt">
					<B>Industrials
					</B>
				</font>
			</font>
		</p>
	</td>
</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt"><font color='#27AE60'>+ve</font> BBD.B (Sector Outperform, $6.00): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt"><font color="#27AE60">Positive</font> - Global 7500 will be awarded Transport Canada certification today in Montreal, alleviating fears of further delays in this program. As a reminder, the majority of the revenue growth at BBA is linked to the Global 7500 program and we expect deliveries to ramp-up to ~40 aircraft by 2020 which should support revenues of ~$3B.  EIS certification is an important milestone for any aircraft program and is usually tied to milestone payments. This provides further certainty around BBD's guidance for positive FCF in 2H/2018. HK Bellawings firms up US$370M order (4 Global 6500 and 2 Global 7500). <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>




	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a"><br><br><br><br></p>			
			<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give me a call or click the link to <A href="mailto:geoff.darling@scotiabank.com?subject=Scotiabank%20Chalk%20Talk">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Thanks</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Geoff</font><br><br><br></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a">Geoff Darling | Director | Global Equity | Scotia Capital Inc.</font></p>

<p lang="en-GB" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">
------------------------------------------------------------------------------------<br>
Scotiabank | Global Banking and Markets<br>
40 King Street West, 68th Floor, Toronto, ON, Canada, M5H 1H1<br>
Direct: (416) 863-5965 | Trading: (866) 274-2757 <br>
Fax: (416) 862-3005 | <a href="mailto:geoff.darling@scotiabank.com">geoff.darling@scotiabank.com</a> | <a href="http://www.Scotiabank.com">www.Scotiabank.com</a><br>
Scotiabank is a business name used by Scotia Capital Inc.
</span></font></p>

			<br>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a"><br>Scotiabank's
			Global Equity Team Achieves Stellar Results in the 2015 Brendan
			Wood International Survey. Click <A href="http://email.scotia.streetcontxt.net/platform/l/IeHZJIwYowS3kEH_iAyOkK2t" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a">Scotiabank's
			Equity Team Recognized as a 2015 Greenwich Associates Share &amp;
			Quality Leader. <br>Click <A href="http://email.scotia.streetcontxt.net/platform/l/vvYOQ1jQ0Zv7m5hQfR-myLHF" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font size=2 color="#5a5a5a">Scotiabank's
			Equity Research Team Earns the #1 Spot in the 2015 Thomson Reuters
			Analysts Awards. <br>Click <A href="http://email.scotia.streetcontxt.net/platform/l/2z0v2yq4KM-FywqvENXN_Wdv" TARGET="_blank">here</A>
			for details.</font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif"><span lang="en-US"><font size=2 color="#5a5a5a">Registered
			ScotiaView users: </font></span></font></strong><span lang="en-US"><font size=2 color="#5a5a5a">Click
			<A href="http://email.scotia.streetcontxt.net/platform/l/ev747k4llKAQ-ECGkKv_R6Gb" TARGET="_blank">here</A>
			to access Global Equity Research Audiocasts.</font><br>&nbsp;</span><br><br></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=658 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">
			<br>
			<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US">Scotiabank
			</span></font></font></font></strong>&nbsp;<font size=2 color="#5a5a5a"><span lang="en-US">|&nbsp;
			Global Banking and Markets</span></font><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 color="#5a5a5a"><span lang="en-US"><br>Scotia
			Plaza, 40 King Street West, 68th Floor, Toronto, Ontario Canada
			M5W 2X6<br><A href="htpp://www.scotiabank.com" TARGET="_blank">www.scotiabank.com</A></span></font></font></font></p>
			<p lang="en-US" style="border: none; padding: 0in"><font size=1 color="#5a5a5a" style="font-size: 8pt">Scotiabank
			is a business name used by Scotia Capital Inc. </font>
			<br><br>
			</p>
		</td>
	</tr>
</table>
</td>
</table>

	<table class="footerTable">
		<tr>
		<td>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Copyright &copy; 2016, Scotiabank</font></p>
			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">To unsubscribe from this specific
			note/publication, email <A href="mailto:portfolio.trading@scotiabank.com">portfolio.trading@scotiabank.com</A>
			or contact Andrew Moffatt at 416.863.7181.</span></font></p>
			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">For Reg AC Certification and
			important disclosures, please visit
			<A href="http://email.scotia.streetcontxt.net/platform/l/tVI5awcCmzkEfBh_Tgxj6z6S" TARGET="_blank">gbm.scotiabank.com/disclosures</A>.</span></font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Analysts employed by non-U.S. affiliates are not
			registered/qualified as research analysts with FINRA in the U.S.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">&trade;Trademark of The Bank of Nova
			Scotia. Used under license, where applicable. Scotiabank,
			together with &quot;Global Banking and Markets,&quot; is a
			marketing name for the global corporate and investment banking
			and capital markets businesses of The Bank of Nova Scotia and
			certain of its affiliates in the countries where they operate,
			including Scotia Capital Inc.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">This e-mail, including any attachments, is for the
			information of the addressee only, is considered confidential and
			should not be reproduced or distributed to any other person
			without the express consent of Scotia Capital Inc. (&quot;SCI&quot;).
			If you received this e-mail in error, please notify the sender by
			reply e-mail then delete it from your system. This transmission
			has been scanned for viruses, but it is the recipients&acirc;&euro;&trade;&nbsp;
			responsibility to conduct their own security measures. Nothing in
			this transmission constitutes an offer or a solicitation of an
			offer to purchase any security. SCI in no case directly or
			implicitly guarantees the future value of securities mentioned in
			this transmission. Any opinions, projections or estimates may be
			changed without notice. SCI, its affiliates, directors, officers
			and employees may buy, sell or hold a position in securities of a
			company mentioned herein, and may also perform financial advisory
			services, investment banking or other services for, or have
			lending or other credit relationships with the same and may have
			received compensation in relation thereto. Directors, officers or
			employees of SCI may serve as directors of a company mentioned
			herein. SCI makes no representation or warranty as to the
			completeness or accuracy of the information contained herein and
			accepts no responsibility or liability for loss or damage arising
			from the receipt or use of this e-mail or its contents. U.S.
			Residents: This report is being distributed by Scotia Capital
			Inc. directly to U.S. persons who are Major Institutional
			Investors only. Any U.S. institutional investor wishing further
			information or to effect transactions in any security discussed
			in this report should contact Scotia Capital (USA) Inc., a
			broker-dealer registered with the SEC and FINRA and a member of
			SIPC, at 1.800.262.5363. European Economic Area (EEA) Residents:
			In the EEA this document is distributed by Scotiabank Europe plc
			which is authorized by the Prudential Regulation Authority (PRA)
			and regulated by the Financial Conduct Authority (FCA) and the
			PRA. The contents hereof are not intended for the use of and
			should not be issued or passed on to retail clients as defined by
			the PRA and FCA and has not been prepared in accordance with
			legal requirements designed to promote the independence of
			investment research and is not subject to any prohibition on
			dealing ahead of the dissemination of investment research.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">This publication is not a research report.&nbsp;
			Consequently this commentary is not governed by rules applicable
			to the publication and distribution of research reports,
			including relevant restrictions or disclosures required to be
			included in research reports. This publication is not meant to
			provide information sufficient upon to base an investment
			decision, or to replace any due diligence or analytical work
			required by you in making investment decisions.&nbsp; This
			communication has been prepared and distributed by staff of
			Scotia Capital Inc.&#39;s Institutional Equity
			Sales and Trading Desk (a Canadian Investment Dealer, member of
			IIROC) solely for the use of sophisticated institutional
			investors. The opinions and statements contained herein are
			intended for information purposes only and are subject to change
			without notice. In addition, the opinions and statements
			contained herein are based on information taken from sources
			believed to be reliable, but no representation or warranty,
			express or implied, is made as to their accuracy, completeness,
			or timeliness. Furthermore, the opinions expressed herein
			represent the personal views of the writer and may not be shared
			by&nbsp; other members of the Institutional Equity Desk or other
			areas, units, divisions or affiliates of Scotia Capital Inc.&nbsp;
			Additionally, either the Institutional Equity Desk or other areas
			or divisions could trade in accordance with the views expressed
			or trade against these views.&nbsp; Any transactions by US
			Institutional Investors in any security mentioned or referenced
			in this publication cannot be effected through Scotia Capital
			Inc. and must be executed with a U.S. broker-dealer, including
			Scotia Capital (USA) Inc., an affiliate of Scotia Capital Inc. </font>
			</p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Scotia Capital Inc., its directors, officers,
			employees, affiliates or clients may currently or from time to
			time own or hold interests in long or short positions in the
			securities referred to herein, and may at any time make purchases
			or sales of these securities as principal or agent. Scotia
			Capital Inc. or its affiliates may have provided or may provide
			investment banking, capital markets advice or other services to
			the companies referred to in this communication. This email
			should not be construed as investment advice or as an offer to
			sell or a solicitation of an offer to buy any securities or other
			financial instruments.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Neither Scotia Capital Inc. nor any of its officers,
			directors, partners, employees or affiliates accepts any
			liability for any direct or consequential loss arising from this
			publication or its contents.&nbsp; Scotia Capital Inc. recommends
			that investors independently evaluate each issuer and security
			discussed in this publication, and consult with any advisors they
			deem necessary prior to making any investment.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a">Scotia Capital Inc. owns or controls an equity
			interest in TMX Group Limited and in excess of 1% of the issued
			and outstanding equity securities thereof.&nbsp; As such, Scotia
			Capital Inc. may be considered to have an economic interest in
			TMX Group Limited including the various marketplaces operated by
			it such as the Toronto Stock Exchange, the TSX Venture Exchange
			and the Alpha Exchange.&nbsp; </font>
			</p>
			<p lang="en-GB" style="margin-top: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">Redistribution of this email is
			strictly prohibited. If you believe that this email was sent to
			you in error, please forward a message to that effect as soon as
			practicable to <A href="mailto:trade.supervision@scotiabank.com">trade.supervision@scotiabank.com</A>.</span></font></p>
		</td>
		</tr>
	</table>
</div>
</body>
</html>

