	<tr>
		<td colspan=2 width=658 valign=top>
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>						
				<p lang="en-GB" style="border: none; padding: 0in; text-align: justify">
					<strong>
						<font color="#5a5a5a">
							<font FACE="Arial, sans-serif">
								<font size=2 style="font-size: 9pt">{{sentiment}}{{ticker}} ({{rating}}, {{target}}): </font>
							</font>
						</font>
					</strong>
					<font color="#5a5a5a">
						<font FACE="Arial, sans-serif">
							<font size=2 style="font-size: 9pt">{{body}} <A href="{{researchLink}}" TARGET="_blank">
										<font color="#e62b1e">
											<span style="text-decoration: none">
												<font FACE="Arial, sans-serif">
													<font size=2 style="font-size: 9pt">
														<B>Link to Full Report</B>
													</font>
												</font>
											</span>
										</font>
									</A>
								</p>
							</font>
						</font>
					</font>
				</p>
			</table>
			<br>
		</td>
	</tr>