<p lang="en-GB" style="border: none; margin-bottom: 0.17in; padding: 0in; text-align: justify">
	<strong>
		<font class="grey" color="#5a5a5a">
			<font FACE="Arial, sans-serif">
				<font size=2 style="font-size: 9pt">{{sentiment}}<a name="{{ticker}}">{{ticker}}</a> ({{rating}}, {{target}}): </font>
			</font>
		</font>
	</strong>
	<font class="grey" color="#5a5a5a">
		<font FACE="Arial, sans-serif">
			<font size=2 style="font-size: 9pt">{{body}} <A href="{{researchLink}}" TARGET="_blank"><font color="#e62b1e"><span style="text-decoration: none"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">Link to Full Report</font></font></span></font></A>
			</font>
		</font>
	</font>
</p>
