<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<style type="text/css">
	<!--
		@page { margin: 0.79in }
		p { 
			color: #000000;
			line-height: 13pt !important; 
			font-family: arial !important;
			font-size: 9pt;
			margin: 0;	
			margin-top: 0em;
			margin-bottom: 0em;				
		}
		.disclaimer
		{
			line-height: 0pt !important; 
			margin: 0;	
			margin-top: 0em;
			margin-bottom: 0em;
			line-height: 8pt !important;
			font-size: 8pt;			 								
		}
		.belowHeader 
		{
			line-height: 100% !important; 
			font-size: 8pt !important;
			margin: 0 !important;	
			margin-top: 0em !important;
			margin-bottom: 0em !important;			
			padding-top: 0em !important;
			padding-bottom: 0em !important;		
		}
		.headingpadding
		{
			color: #000000;
			line-height: 8pt !important; 
			font-family: arial !important;
			font-size: 8pt;
			margin: 0;	
			margin-top: 0em;
			margin-bottom: 0em;					
		}
		TD P { 
			color: #000000 
		}
		A:link { 
			color: #d81b2d 
		}
		A:visited { 
			color: #d81b2d 
		}
		.mainTable {
			width: 648;
			border-spacing: 0;
			border-collapse: separate;
		}
		#wrapper {
			border: 1px solid #a5a5a5;
			padding: 20px;
		}
		#chalkTalk {
			color: #D81E05;
			font-size: 20;
		}
		body {
			font-family: arial !important;
			font-size: 9pt !important;

		}
		td {
			line-height: 13pt !important; 
			font-family: arial !important;
			font-size: 9pt;		
		}
		.footerTable {
			padding-left: 0px; 
			padding-right: 0px;
			width: 723px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	-->
	
	</style>
</head>
<body lang="en-CA" TEXT="#000000" LINK="#d81b2d" VLINK="#d81b2d">
<div align=center>
	<table id="wrapper">
	<td>
<table class="mainTable">
	<tr valign=top>
		<td>
			<a href="http://www.gbm.scotiabank.com/Products&Services/Global_Equity/PR_GE_Portfolio.htm">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/logoImage.png" name="graphics1" align=bottom width=250 height=43 border=0>
			</A>
		</td>
		<td width=500 style="text-align: right"<font size=3 style="font-size: 13pt" color="#808285">PORTFOLIO TRADING</span></font> &nbsp;<font size=3 style="font-size: 13pt" color="#D81B2E"><span lang="en-US">|</span></font>&nbsp;
			<font size=3 style="font-size: 13pt" color="#5a5a5a"><span lang="en-US">MIDDAY
			UPDATE</span></font><span lang="en-US"><br><br></span><font size=2 color="#5a5a5a"><span lang="en-US">Tuesday, June 20, 2017</span></font>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=670 valign=top style="width:546.1pt; padding:0in 0in 0in 0in; height:18.75pt">
		<p align="center" style="text-align:center">
			<img src="https://raw.githubusercontent.com/chalktalkimages/Chalkimages/master/underlineImage.png" name="graphics2" align=bottom width=670 height=25 border=0>
		</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in" id="chalkTalk">The Halftime Show</p>
		</td>
	</tr>


		
	<tr>
		<td colspan=2 width=608 valign=top>
				<p lang="en-US" style="border: none; padding: 0in; mso-line-height-rule: exactly" class = "belowHeader"><font color="#5a5a5a"><br><br><br><i>Source:
				Bloomberg Finance LP.</i></font></p>				
		</td>
	</tr>





	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Canadian
			Market</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>


	


		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#008000">SVC
 +6.02%</font>
<font color="#5a5a5a">, 26.33x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Positive - Francisco Partners reported to be weighing a competing bid for SVC, which is in the middle of the 42 days go-shop period from the C$3.80 bid from Vector Capital announced on May 26. A bump from another PE buyer is possible given solid FCF yield.  We would BUY SVC inline for optionality on the go-shop period with potential upside to $4.25+ ($3.90-$3.95 represents an ~25-30% chance we see an alternative offer).</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>






		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#008000">HCG
 +4.06%</font>
<font color="#5a5a5a">, 2.66x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Positive - Announced an agreement to sell $1.2B in mortgage assets to KingSett Capital. The proceeds from the transaction are expected to help stabilize the company's liquidity position and reduce the amount drawn under the company's $2Bn credit facility. The initial proceeds to the company will be 97% of the outstanding principal value of the mortgages. The balance of the purchase price will be subject to credit losses in the portfolio.  HCG expects to record a loss on the transaction of ~$15M ($0.18/sh after tax) and expects net cash proceeds of ~$1.16B in Q3/17.</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>






		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#008000">BBD.B
 +0.39%</font>
<font color="#5a5a5a">, 1.61x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Takeaways from the Air Show: 1) Management remains confident on their ability to meet NT and LT guidance. 2) BBD is seeing signs of life in Europe and US in an environment where most OEMs have now adjusted production down to trough levels. While this is positive, we prefer to remain conservative and are not baking-in any major price increases in our NT forecasts. 3) It has been a while since the last CSeries order. Management, however, remains confident and expects to receive at least one order this year. In our opinion, the ongoing trade dispute with Boeing is a risk in this regard.</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>






		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#ed1b2e">ERJ
 -4.02%</font>
<font color="#5a5a5a">, 0.00x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Takeaways from Air Show: 1) Commercial order flow slower than expected. We believe that our E-Jet deliveries forecast has some downside risk for 2018. This will likely lead to a YOY decline in EBIT in 2018 with some improvement expected until 2019 as the E2 ramps up. 2) D&S business picking up with order momentum on KC-390. This bodes well for future profitability but likely won't ramp up enough in 2018 to offset the entire decline in E-Jets. 3) Business jets are troughing. ERJ management commented that pricing is more stable and they expect some firming up by the end of the year.</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>






		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#ed1b2e">ECA
 -5.64%</font>
<font color="#5a5a5a">, 1.67x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Released an operational update on the Permian.  Updated type curves across the play and on average, IP rates are up ~20%.  Strong well results have led to an increase in premium return inventory in the Permian by 700 locations.  ECA now has ~3,500 premium return inventory locations and 12,000 total inventory locations in the Permian.  Five-year-plan is to drill less than 30% of the premium locations.  ECA holds 3.3B BOE of premium resource potential at $50.00 WTI and $3.00 NYMEX.  Key outcomes of 5 year plan includes 300% increase in CF, a doubling of corporate margin and self funding capex.</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>






		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
<i>
<font color="#ed1b2e">CVE
 -11.09%</font>
<font color="#5a5a5a">, 2.91x ADV</font>
</i>
<br>	
	<font color="#5a5a5a">Positive - Ahead of today's investor day, announces CEO Brian Ferguson will retire on October 31st, but stay on in an advisor role until March 2018.  2017 production guidance was updated to 465-498 mboe/d (assuming no dispositions) vs. our original estimate of 466 mboe/d (we assume asset sales of 45 mboe/d in Q4/17).  2017 capex is expected to come in between $1.8-$2B vs. our original estimate $2B.  Expected asset sale proceeds of $4-$5B by year-end is above street expectations of $3-$3.5B and is ear marked to pay down the $3.6B asset sale bridge facility.</font>
<br>
					</p>
				</table>
		</td>
	</tr>

	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>




	

	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
					<font color="#5a5a5a">
						<B><i>Analyst Upgrades: </i></B>
					</font>
					</p>
				</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
					<font color="#5a5a5a">
						<B><i>Analyst Downgrades: </i></B> 
					</font>
					</p>
				</table>
		</td>
	</tr>

	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
					<font color="#5a5a5a">
						<B><i>Initiations: </i></B>
					</font>
					</p>
				</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
				<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>			
					<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
					<font color="#5a5a5a">
						<B><i><br>Companies Reporting: </i></B> 
					</font>
					</p>
				</table>
		</td>
	</tr>	

	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:0%">
			<p lang="en-GB" align=CENTER style="margin-bottom: 0in; border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly">
			<br><br><br><br>
			</p>
		</td>
	</tr>
	
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>U.S. 
			Market</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Our Take:</font>
				</p>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>The Options 
			Market (Oliver Williams)</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Our Take:</font>
				</p>
			</table>
		</td>
	</tr>
	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Economics
			(Derek Holt)</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Our Take:</font>
				</p>
			</table>
		</td>
	</tr>
	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Currency 
			Corner (Shawn Osbourne)</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Our Take:</font>
				</p>
			</table>
		</td>
	</tr>
	</tr>
		<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in">
			<font color="#5a5a5a"><font size=2 style="font-size: 11pt"><B>Precious Metals
			(ScotiaMocatta)</B></font></font></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:3%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly" class="headingpadding"><font color="#5a5a5a">&nbsp</font>
				</p>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:6.1%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Base Metals: </font></p>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top style="padding-left:6.1%">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">Gold: </font></p>
			</table>
		</td>
	</tr>		
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-US" style="border: none; padding: 0in"><br></p>
			<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give us a call or click the link to <A href="mailto:andrew.moffatt@scotiabank.com?subject=Scotiabank%20Halftime%20Show">provide
feedback</A>.</span></font></p>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Thanks,</font></p>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Andrew, Bilal, and George</font></p>
				<p style="border: none; padding: 0in; text-align: justify; mso-line-height-rule: exactly"><font color="#5a5a5a">&nbsp</font>
				</p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Scotiabank
| Global Banking and Markets | Portfolio Trading</font><br><br></p>


			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif" color="#5a5a5a"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">Chad
			Reed, CFA, Head of Portfolio Trading</span></font></font></strong>
			<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">|
			416.863.7598 | <A href="mailto:chad.reed@scotiabank.com">chad.reed@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">Scott
			Macdonald</span></font></font></strong><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">
			| 416.863.2839 | <A href="mailto:scott.macdonald@scotiabank.com">scott.macdonald@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">Bilal
			Ijaz, CFA</span></font></font></strong><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">
			| 416.863.7748 | <A href="mailto:bilal.ijaz@scotiabank.com">bilal.ijaz@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">George
			Gardiner</span></font></font></strong><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">
			| 416.863.7470 | <A href="mailto:george.gardiner@scotiabank.com">george.gardiner@scotiabank.com</A><br></span></font><strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">Andrew
			Moffatt, CFA</span></font></font></strong><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">
			| 416.863.7181 | <A href="mailto:andrew.moffatt@scotiabank.com">andrew.moffatt@scotiabank.com</A><br></span></font>&nbsp;</p>

		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font color="#5a5a5a"><br>Scotiabank's
			Global Equity Team Achieves Stellar Results in the 2015 Brendan
			Wood International Survey. Click <A href="http://email.scotia.streetcontxt.net/platform/l/IeHZJIwYowS3kEH_iAyOkK2t" TARGET="_blank">here</A>
			for details.<br><br></font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font color="#5a5a5a">Scotiabank's
			Equity Team Recognized as a 2015 Greenwich Associates Share &amp;
			Quality Leader. Click <A href="http://email.scotia.streetcontxt.net/platform/l/vvYOQ1jQ0Zv7m5hQfR-myLHF" TARGET="_blank">here</A>
			for details.<br><br></font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><span lang="en-US"><font color="#5a5a5a">Scotiabank's
			Equity Research Team Earns the #1 Spot in the 2015 Thomson Reuters
			Analysts Awards. Click <A href="http://email.scotia.streetcontxt.net/platform/l/2z0v2yq4KM-FywqvENXN_Wdv" TARGET="_blank">here</A>
			for details.<br><br></font></span></p>
			<p lang="en-GB" style="border: none; padding: 0in"><strong><font FACE="Arial, sans-serif"><span lang="en-US"><font color="#5a5a5a">Registered
			ScotiaView users: </font></span></font></strong><span lang="en-US"><font color="#5a5a5a">Click
			<A href="https://www.scotiaview.com/eq/tools/edgeonline" TARGET="_blank">here</A>
			to access Global Equity Research.</font><br>&nbsp;</span><br></p>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<HR>
		</td>
	</tr>
	<tr>
		<td colspan=2 width=608 valign=top>
			<p lang="en-GB" style="border: none; padding: 0in">
			<br>
			<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><color="#5a5a5a"><span lang="en-US">Scotiabank
			</span></font></font></font></strong>&nbsp;<font color="#5a5a5a"><span lang="en-US">|&nbsp;
			Global Banking and Markets</span></font><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font color="#5a5a5a"><span lang="en-US"><br>Scotia
			Plaza, 40 King Street West, 65th Floor, Toronto, Ontario Canada
			M5W 2X6<br><A href="htpp://www.scotiabank.com" TARGET="_blank">www.scotiabank.com</A></span></font></font></font></p>
			<p lang="en-US" style="border: none; padding: 0in"><font color="#5a5a5a">Scotiabank
			is a business name used by Scotia Capital Inc. </font>
			<br><br>
			</p>
		</td>
	</tr>
</table>
</td>
</table>

	<table class="footerTable">
		<tr>
		<td>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">Copyright &copy; 2016, Scotiabank</font></p>
			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a"><span lang="en-US">To unsubscribe from this specific
			note/publication, email <A href="mailto:portfolio.trading@scotiabank.com">portfolio.trading@scotiabank.com</A>
			or contact Andrew Moffatt at 416.863.7181.</span></font></p>
			<p lang="en-GB" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a"><span lang="en-US">For Reg AC Certification and
			important disclosures, please visit
			<A href="http://email.scotia.streetcontxt.net/platform/l/tVI5awcCmzkEfBh_Tgxj6z6S" TARGET="_blank">gbm.scotiabank.com/disclosures</A>.</span></font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">Analysts employed by non-U.S. affiliates are not
			registered/qualified as research analysts with FINRA in the U.S.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">&trade;Trademark of The Bank of Nova
			Scotia. Used under license, where applicable. Scotiabank,
			together with &quot;Global Banking and Markets,&quot; is a
			marketing name for the global corporate and investment banking
			and capital markets businesses of The Bank of Nova Scotia and
			certain of its affiliates in the countries where they operate,
			including Scotia Capital Inc.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">This e-mail, including any attachments, is for the
			information of the addressee only, is considered confidential and
			should not be reproduced or distributed to any other person
			without the express consent of Scotia Capital Inc. (&quot;SCI&quot;).
			If you received this e-mail in error, please notify the sender by
			reply e-mail then delete it from your system. This transmission
			has been scanned for viruses, but it is the recipients&acirc;&euro;&trade;&nbsp;
			responsibility to conduct their own security measures. Nothing in
			this transmission constitutes an offer or a solicitation of an
			offer to purchase any security. SCI in no case directly or
			implicitly guarantees the future value of securities mentioned in
			this transmission. Any opinions, projections or estimates may be
			changed without notice. SCI, its affiliates, directors, officers
			and employees may buy, sell or hold a position in securities of a
			company mentioned herein, and may also perform financial advisory
			services, investment banking or other services for, or have
			lending or other credit relationships with the same and may have
			received compensation in relation thereto. Directors, officers or
			employees of SCI may serve as directors of a company mentioned
			herein. SCI makes no representation or warranty as to the
			completeness or accuracy of the information contained herein and
			accepts no responsibility or liability for loss or damage arising
			from the receipt or use of this e-mail or its contents. U.S.
			Residents: This report is being distributed by Scotia Capital
			Inc. directly to U.S. persons who are Major Institutional
			Investors only. Any U.S. institutional investor wishing further
			information or to effect transactions in any security discussed
			in this report should contact Scotia Capital (USA) Inc., a
			broker-dealer registered with the SEC and FINRA and a member of
			SIPC, at 1.800.262.5363. European Economic Area (EEA) Residents:
			In the EEA this document is distributed by Scotiabank Europe plc
			which is authorized by the Prudential Regulation Authority (PRA)
			and regulated by the Financial Conduct Authority (FCA) and the
			PRA. The contents hereof are not intended for the use of and
			should not be issued or passed on to retail clients as defined by
			the PRA and FCA and has not been prepared in accordance with
			legal requirements designed to promote the independence of
			investment research and is not subject to any prohibition on
			dealing ahead of the dissemination of investment research.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">This publication is not a research report.&nbsp;
			Consequently this commentary is not governed by rules applicable
			to the publication and distribution of research reports,
			including relevant restrictions or disclosures required to be
			included in research reports. This publication is not meant to
			provide information sufficient upon to base an investment
			decision, or to replace any due diligence or analytical work
			required by you in making investment decisions.&nbsp; This
			communication has been prepared and distributed by staff of
			Scotia Capital Inc.&#39;s Institutional Equity
			Sales and Trading Desk (a Canadian Investment Dealer, member of
			IIROC) solely for the use of sophisticated institutional
			investors. The opinions and statements contained herein are
			intended for information purposes only and are subject to change
			without notice. In addition, the opinions and statements
			contained herein are based on information taken from sources
			believed to be reliable, but no representation or warranty,
			express or implied, is made as to their accuracy, completeness,
			or timeliness. Furthermore, the opinions expressed herein
			represent the personal views of the writer and may not be shared
			by&nbsp; other members of the Institutional Equity Desk or other
			areas, units, divisions or affiliates of Scotia Capital Inc.&nbsp;
			Additionally, either the Institutional Equity Desk or other areas
			or divisions could trade in accordance with the views expressed
			or trade against these views.&nbsp; Any transactions by US
			Institutional Investors in any security mentioned or referenced
			in this publication cannot be effected through Scotia Capital
			Inc. and must be executed with a U.S. broker-dealer, including
			Scotia Capital (USA) Inc., an affiliate of Scotia Capital Inc. </font>
			</p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">Scotia Capital Inc., its directors, officers,
			employees, affiliates or clients may currently or from time to
			time own or hold interests in long or short positions in the
			securities referred to herein, and may at any time make purchases
			or sales of these securities as principal or agent. Scotia
			Capital Inc. or its affiliates may have provided or may provide
			investment banking, capital markets advice or other services to
			the companies referred to in this communication. This email
			should not be construed as investment advice or as an offer to
			sell or a solicitation of an offer to buy any securities or other
			financial instruments.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">Neither Scotia Capital Inc. nor any of its officers,
			directors, partners, employees or affiliates accepts any
			liability for any direct or consequential loss arising from this
			publication or its contents.&nbsp; Scotia Capital Inc. recommends
			that investors independently evaluate each issuer and security
			discussed in this publication, and consult with any advisors they
			deem necessary prior to making any investment.</font></p>
			<p lang="en-US" style="margin-top: 0.08in; margin-bottom: 0.08in; border: none; padding: 0in; text-align: justify" class="disclaimer">
			<font size=1 color="#5a5a5a">Scotia Capital Inc. owns or controls an equity
			interest in TMX Group Limited and in excess of 1% of the issued
			and outstanding equity securities thereof.&nbsp; As such, Scotia
			Capital Inc. may be considered to have an economic interest in
			TMX Group Limited including the various marketplaces operated by
			it such as the Toronto Stock Exchange, the TSX Venture Exchange
			and the Alpha Exchange.&nbsp; </font>
			</p>
			<p lang="en-GB" style="margin-top: 0.08in; border: none; padding: 0in; text-align: justify">
			<font size=1 color="#5a5a5a"><span lang="en-US">Redistribution of this email is
			strictly prohibited. If you believe that this email was sent to
			you in error, please forward a message to that effect as soon as
			practicable to <A href="mailto:trade.supervision@scotiabank.com">trade.supervision@scotiabank.com</A>.</span></font></p>
		</td>
		</tr>
	</table>
</div>
</body>
</html>

