				<tr valign=top>
					<td width=8%>
						<p lang="en-GB" style="border: none; padding: 0in; margin-top: 0.08in;  line-height: 0.18in; text-align: justify">
						<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt"><span lang="en-US">{{belongsTo}}</span></font></font></font></strong></p>
					</td>
					<td width=8%>
						<p lang="en-GB" style="border: none; padding: 0in; margin-top: 0.08in;  line-height: 0.18in; text-align: justify">
						<font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 7.5pt"><span lang="en-US">{{sentiment}}</span></font></font></font></p>
					</td>					
					<td width=84%>
						<p lang="en-GB" style="border: none; padding: 0in; margin-top: 0.08in; line-height: 0.18in; text-align: justify"><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt"><span lang="en-US"><span style="font-weight: normal">{{body}}</span></span></font></font></font><br></p>
					</td>
				</tr>