<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give me a call or click the link to <A href="mailto:jordan.johnston@scotiabank.com?subject=Scotiabank%20Chalk%20Talk">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Jordan Johnston</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a">Jordan Johnston| Director | Global Equity | Scotia Capital Inc.</font></p>

<p lang="en-GB" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">
------------------------------------------------------------------------------------<br>
Scotiabank | Global Banking and Markets<br>
40 King Street West, 68th Floor, Toronto, ON, Canada, M5W 2X6<br><br>
Direct: (416) 863-5967<br>
<a href="mailto:jordan.johnston@scotiabank.com"jordan.johnston@scotiabank.com</a><br>
<a href="http://www.scotiabank.com">scotiabank.com</a><br><br>
Scotiabank is a business name used by Scotia Capital Inc.<br>
</span></font></p>