<p lang="en-GB" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give me a call or click the link to <A href="mailto:lauren.wisniewski@scotiabank.com?subject=Morning%20Notes">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt">Thanks</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt">Lauren</font><br><br><br></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a">Lauren Wisniewski | Associate | Global Equity Sales | Scotia Capital (USA) Inc.</font></p>

<p lang="en-GB" style="border: none; padding: 0in"><font size=2 class="grey" style="font-size: 9pt color="#5a5a5a"><span lang="en-US">
------------------------------------------------------------------------------------<br>
Scotiabank | Global Banking and Markets<br>
250 Vesey Street, 24th Floor, New York, NY 10281<br>
Direct: (212) 225-6628 | Mobile: (917) 239-8402 <br>
<a href="mailto:lauren.wisniewski@scotiabank.com">lauren.wisniewski@scotiabank.com</a> | <a href="http://www.Scotiabank.com">www.Scotiabank.com</a><br>
Scotiabank is a business name used by Scotia Capital (USA) Inc.
</span></font></p>