<TR>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{tradername}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavolumepercent}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavalue}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A;"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavaluepercent}}</TD>
</TR>