	<tr>
		<td colspan=2 width=658 valign=top align="left">
			<table width=100% border=0 CELLPADDING=0 CELLSPACING=0 style="font-size:9pt">
				<TR>
					<TD STYLE="border-top: 1px solid #bebebe; padding-left: 10px; width:6%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Trader Name</FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Scotia Block Volume
								</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Scotia as % of Total Market
								</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Scotia Block Value
						</b></FONT></TD>
					<TD STYLE="border-top: 1px solid #bebebe; width:8%;" ALIGN=CENTER
						BGCOLOR="#F2F2F2"><FONT COLOR="#5A5A5A"><b>Scotia as % of Total Market
						</b></FONT></TD>
				</TR>
				{{atTableRow}}
			</table> <br>
		</td>
	</tr>