<TR>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{tradername}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{blockvolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{volumepercent}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{blockvalue}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A;"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{valuepercent}}</TD>
</TR>