<TR>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{ticker}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{name}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{scotiavalue}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A;"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{marketvolume}}</TD>
	<TD
		STYLE="border-bottom: 1px solid #bebebe; font-size: 9pt; color: #5A5A5A"
		ALIGN=RIGHT VALIGN=MIDDLE BGCOLOR="#FFFFFF">{{marketvalue}}</TD>
</TR>