<p lang="en-GB" style="border: none; padding: 0in"><font FACE="Arial, sans-serif" color="black"><font size=2 style="font-size: 9pt" color="black"><strong>Mining Specialty Sales </strong></font>
<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">| Global Equity | Scotia Capital Inc.</A><br></span></font>
_________________________________________<br>
<font color="red" style="font-size: 9pt"><strong>Scotiabank</font><font color="black" style="font-size: 9pt"> | Global Banking and Markets</strong></font>
<font FACE="Arial, sans-serif" color="black"><font size=2 style="font-size: 9pt" color="black"><br>
40 King Street West, 68th Floor Toronto, Ontario, Canada M5H 3Y2<br>
Toll Free Trading: (866) 274-2757 | Toll Free Sales: (888) 299-2504<br>
Scotiabank.com<br>
Scotiabank is a business name used by Scotia Capital Inc.<br><br>
</font></font></font>


<table style="border-collapse: collapse; font-family: Arial, sans-serif; font-size: 9pt">
	<tr>
		<th colspan=2 style="text-align: left; padding-right: 293px; border-bottom: 1px solid #000;">
			<i>Sales:</i>
		</th>
		<th colspan=2 style="text-align: left; padding-right: 100px; border-bottom: 1px solid #000;">
			<i>Trading:</i>
		</th>		
	</tr>
	<tr>
		<td width="25%">
		<strong>
			Grant Moenting
		</strong>
		</td>
		<td width="25%">
			O: (416) 862-3162
		</td>
		<td width="25%">
		<strong>			
			Paul O'Hea
		</strong>			
		</td>
		<td width="25%">
			O: (416) 863-7511
		</td>
	</tr>
	<tr>
		<td width="25%">
		<strong>
			
		</strong>
		</td>
		<td width="25%">
			M: (647) 278-1994
		</td>
		<td width="25%">
		<strong>			

		</strong>			
		</td>
		<td width="25%">
			M: (647) 299-8542
		</td>
	</tr>
	<tr>
		<td width="25%">
		<strong>
			
		</strong>
		</td>
		<td width="25%">
			
		</td>
		<td width="25%">
		<strong>			
			
		</strong>			
		</td>
		<td width="25%">
			
		</td>
	</tr>
	<tr>
		<td width="25%">
		<strong>
			
		</strong>
		</td>
		<td width="25%">
			
		</td>
		<td width="25%">
		<strong>			
			Toll-Free Trading
		</strong>			
		</td>
		<td width="25%">
			(866) 274-2757
		</td>
	</tr>
	<tr style="height: 20px">
	</tr>	
</table>
<table style="border-collapse: collapse; font-family: Arial, sans-serif; font-size: 9pt">
	<tr>
		<td>
		<strong>
			Scotiabank Mining Research
		</strong>
		</td>
		<td>
			
		</td>
		<td>
		<strong>			
			
		</strong>			
		</td>
		<td>
			
		</td>		
	</tr>	
	<tr>
		<th colspan=2 style="text-align: left; border-bottom: 1px solid #000;">
			<i>Precious Metals:</i>
		</th>
		<th colspan=2 style="text-align: left; padding-right: 100px; border-bottom: 1px solid #000;">
			<i>Metals &amp; Mining:</i>
		</th>		
	</tr>
	<tr>
		<td width="25%">
		<strong>
			Tanya Jakusconek
		</strong>
		</td>
		<td width="25%">
			(416) 945-4083
		</td>
		<td width="25%">
		<strong>			
			Orest Wowkodaw
		</strong>			
		</td>
		<td width="25%">
			(416) 945-4526
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 20px">
			Joanne van Ballegooie
		</td>
		<td width="25%">
			(416) 863-7431
		</td>
		<td width="25%" style="padding-left: 20px">		
			Ian Grundy
		</td>
		<td width="25%">
			(416) 863-7623
		</td>
	</tr>	
	<tr>
		<td width="25%" style="padding-left: 20px">
			Scott Macdonald
		</td>
		<td width="25%">
			(416) 945-4648
		</td>
		<td width="25%" style="padding-left: 20px">		
			
		</td>
		<td width="25%">
			
		</td>
	</tr>
	<tr>
		<td width="25%">
		<strong>
			Trevor Turnbull
		</strong>
		</td>
		<td width="25%">
			(416) 863-7427
		</td>
		<td width="25%">
		<strong>			
			Alfonso Salazar
		</strong>			
		</td>
		<td width="25%">
			+52 (55) 5123-2869
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 20px">
			James Steels
		</td>
		<td width="25%">
			(416) 945-4527
		</td>
		<td width="25%" style="padding-left: 20px">
			Christian Castillo Landi
		</td>
		<td width="25%">
			+52 (55) 9179-5242
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 0px">
			Bryce Adams
		</td>
		<td width="25%">
			(416) 860-1429
		</td>
		<td width="25%" style="padding-left: 20px">
			
		</td>
		<td width="25%">
			
		</td>
	</tr>	
	<tr>
		<td width="25%">
		<strong>
			Ovais Habib
		</strong>
		</td>
		<td width="25%">
			(416) 863-7141
		</td>
		<td width="25%">		
		<strong>			
			Holly Stewart
		</strong>				
		</td>
		<td width="25%">
			(713) 393-4512
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 20px">
			Eric Winmill
		</td>
		<td width="25%">
			(416) 862-3738
		</td>
		<td width="25%">		
		<strong>			
			
		</strong>				
		</td>
		<td width="25%">
			
		</td>
	</tr>
	<tr>
		<td width="25%">
		<strong>
			
		</strong>
		</td>
		<td width="25%">
			
		</td>
		<td width="25%">
			<strong><u>Specialty Commodities:</u></strong>
		</td>
		<td width="25%">
			
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 20px">
			
		</td>
		<td width="25%">
			
		</td>
		<td width="25%">		
		<strong>			
			Ben Isaacson
		</strong>				
		</td>
		<td width="25%">
			(416) 945-5310
		</td>
	</tr>
	<tr>
		<td width="25%" style="padding-left: 20px">
			
		</td>
		<td width="25%">
			
		</td>
		<td width="25%" style="padding-left: 20px">		
			Carl Chen
		</td>
		<td width="25%">
			(416) 863-5907
		</td>
	</tr>	
	<tr>
		<td width="25%" style="padding-left: 20px">
			
		</td>
		<td width="25%">
			
		</td>
		<td width="25%" style="padding-left: 20px">		
			Oliver Rowe
		</td>
		<td width="25%">
			(416) 863-5907
		</td>
	</tr>	






</table>


</font>
</p>