<p lang="en-GB" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give me a call or click the link to <A href="mailto:Michael.Letros@scotiabank.com?subject=Morning%20Notes">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt">Thanks</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a" style="font-size: 9pt">Michael</font><br><br><br></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 class="grey" color="#5a5a5a">Michael Letros, MSc, CFA | Director | Global Equity Sales | Scotia Capital (USA) Inc.</font></p>

<p lang="en-GB" style="border: none; padding: 0in"><font size=2 class="grey" style="font-size: 9pt color="#5a5a5a"><span lang="en-US">
------------------------------------------------------------------------------------<br>
Scotiabank | Global Banking and Markets<br>
250 Vesey Street, 24th Floor, New York, NY 10281<br>
Direct: (212) 225-6681 | Cell: (646) 581-0633 | Fax: (212) 225-6773 <br>
<a href="mailto:Michael.Letros@scotiabank.com">Michael.Letros@scotiabank.com</a> | <a href="http://www.Scotiabank.com">www.Scotiabank.com</a><br>
Scotiabank is a business name used by Scotia Capital (USA) Inc.
</span></font></p>