<div class="{{paddingClass}}">
<span style="text-align: justify;">
<font class="grey" color="#5a5a5a">
	<font FACE="Arial, sans-serif">
		<strong><font size=2 style="font-size: 9pt;"><span >{{sentiment}} {{ticker}} ({{rating}}, {{target}}):</strong> {{body}}</font>
	</font>
</font>
<font class="grey" color="#5a5a5a">
	<font FACE="Arial, sans-serif">
		<font size=2 style="font-size: 9pt text-align: justify;"><A href="{{researchLink}}" TARGET="_blank"><font color="#e62b1e"><span style="text-decoration: none"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">Link</font></font></span></font></A>
		</font>
	</font>
</font>
</span>
</div>
