<p lang="en-GB" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">Please
feel free to give us a call or click the link to <A href="mailto:george.gardiner@scotiabank.com">provide
feedback</A>.</span></font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">Thanks,</font></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a" style="font-size: 9pt">George</font><br><br><br><br></p>
<p lang="en-US" style="border: none; padding: 0in"><font size=2 color="#5a5a5a">Scotiabank
| Global Banking and Markets | Equity Trading</font></p>


<p lang="en-GB" style="border: none; padding: 0in">
<strong><font FACE="Arial, sans-serif"><font color="#5a5a5a" size=2 style="font-size: 9pt"><span lang="en-US">George
Gardiner</span></font></font></strong>
<font size=2 color="#5a5a5a" style="font-size: 9pt"><span lang="en-US">
| 416.863.7470 | <A href="mailto:george.gardiner@scotiabank.com">george.gardiner@scotiabank.com</A><br></span></font></p>