<p lang="en-GB" style="border: none; padding: 0in"><font FACE="Arial, sans-serif" color="#5a5a5a">


<font color="black" style="font-size: 9pt">
<br><br>Have a great day. <br><br><br>
</font>

<font size=2 style="font-size: 9pt" color="#5a5a5a">
<span lang="en-US"><strong>Paul W. Lee, </strong></font><font style="font-size: 7pt">CA, CFA</span></font>
<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">|
Energy Sales Specialist | Global Equity | Scotia Capital Inc.</A><br></span></font>
__________________________________________________________________________<br>
<font color="red" style="font-size: 9pt"><strong>Scotiabank</font><font color="#5a5a5a" style="font-size: 9pt"> | Global Banking and Markets</strong></font>
<font FACE="Arial, sans-serif" color="#5a5a5a"><font size=2 style="font-size: 9pt" color="#5a5a5a"><br>
700-2nd Street S.W., Suite 2000 Calgary, AB T2P 2W1<br>
Direct: (403) 213-7774 | Trading: (866) 274-2757 | Mobile: (403) 968-4539 | Fax: (403) 269-8355 | BB: 
<A href="mailto:plee282@bloomberg.net">plee282@bloomberg.net</A>
<br>
<A href="mailto:paulw.lee@scotiabank.com">paulw.lee@scotiabank.com</A>
<br>
Scotiabank.com<br>
Scotiabank is a business name used by Scotia Capital Inc.<br><br>
Please click this link <A href="mailto:paulw.lee@scotiabank.com?subject=please%20remove%20me%20from%20mailing%20list">paulw.lee@scotiabank.com</A>
 to email the sender for removal from this specific note/publication.
</font></font>
</p>