				<tr valign=top>
					<td width=24%>
						<table width=92% border=0 CELLPADDING=0 CELLSPACING=0>
							<tr valign=top>
								<td width=31%>
									<p lang="en-GB" style="border: none; padding: 0in"><strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2><span lang="en-US">Ticker:
									</span></font></font></font></strong>
									</p>
								</td>
								<td width=68%>
									<p lang="en-US" style="border: none; padding: 0in;"><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2><B>{{belongsTo}}</B></font></font></font></p>
								</td>
							</tr>
							<tr>
								<td colspan=2 width=100% valign=top>
									<HR size=1 NOSHADE>
								</td>
							</tr>
							<tr valign=top style="padding-bottom: 5px">
								<td width=31%>
									<p lang="en-US" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a"><B>Rating:</B></font></p>
								</td>
								<td width=68%>
									<p lang="en-US" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a">{{rating}}</font></p>
								</td>
							</tr>
							<tr valign=top style="padding-bottom: 5px">
								<td width=31%>
									<p lang="en-US" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a"><B>Target:</B></font></p>
								</td>
								<td width=68%>
									<p lang="en-US" style="border: none; padding: 0in"><font size=2 style="font-size: 9pt" color="#5a5a5a">{{target}}</font></p>
								</td>
							</tr>
							<tr style="padding-bottom: 5px">
								<td colspan=2 width=100% valign=top>
									<p lang="en-GB" style="border: none; padding: 0in"><A href="{{researchLink}}" TARGET="_blank"><font color="#e62b1e"><span style="text-decoration: none"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt"><B>Latest Research</B></font></font></span></font></A></p>
								</td>
							</tr>
							<tr valign=top style="padding-bottom: 5px">
								<td width=31%>
									<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
								</td>
								<td width=68%>
									<p lang="en-GB" style="border: none; padding: 0in">&nbsp;</p>
								</td>
							</tr>
						</table>
						<p lang="en-GB"><br><br>
						</p>
					</td>
					<td width=75%>
						<p lang="en-GB" style="border: none; padding: 0in; line-height: 0.18in; text-align: justify">
						<strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt"><span lang="en-US">OUR
						TAKE: </span></font></font></font></strong><strong><font color="#5a5a5a"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt"><span lang="en-US"><span style="font-weight: normal">{{body}}<br><br></span></span></font></font></font></strong></p>
					</td>
				</tr>