<tr valign=top>

<td width=85% class="{{paddingClass}}" >
		<font class="grey" color="#5a5a5a">
			<font FACE="Arial, sans-serif">
				<font size=2 style="font-size: 9pt">{{sentiment}}<a name="{{ticker}}">{{ticker}}</a> ({{rating}}, {{target}}): {{body}}</font>
			</font>
		</font>
		</td>
		<td width=14%  class="{{linkPaddingClass}}">
	<font class="grey" color="#5a5a5a">
		<font FACE="Arial, sans-serif">
			<font size=2 style="font-size: 9pt"><A href="{{researchLink}}" TARGET="_blank"><font color="#e62b1e"><span style="text-decoration: none"><font FACE="Arial, sans-serif"><font size=2 style="font-size: 9pt">Latest Research</font></font></span></font></A>
			</font>
		</font>
	</font>
	</td>
</tr>
