<p lang="en-GB" style="border: none; padding: 0in"><font FACE="Arial, sans-serif" color="#5a5a5a">

<font size=2 style="font-size: 9pt" color="#1F497D">
<span lang="en-US"><strong>Ryan Galloway, </strong></font><font style="font-size: 7pt; color: #1F497D">CFA, CPA, CMA</span></font>
<font size=2 style="font-size: 9pt" color="#5a5a5a"><span lang="en-US">|
Energy Sales Specialist | Global Equity | Scotia Capital Inc.</A><br></span></font>
__________________________________________________________________________<br>
<font color="red" style="font-size: 9pt"><strong>Scotiabank</font><font color="#5a5a5a" style="font-size: 9pt"> | Global Banking and Markets</strong></font>
<font FACE="Arial, sans-serif" color="#5a5a5a"><font size=2 style="font-size: 9pt" color="#5a5a5a"><br>
1800, 700-2nd Street SW, Scotia Center, Calgary, AB, Canada, T2P 2W1<br>
Direct: 403.218.3259 | Mobile: 403.613.8350<br>
BB: <A href="mailto:rgallowa@bloomberg.net">rgallowa@bloomberg.net</A><br>
<A href="mailto:ryan.galloway@scotiabank.com">ryan.galloway@scotiabank.com</A><br>
Scotiabank.com<br>
Scotiabank is a business name used by Scotia Capital Inc.<br><br>
</font></font>
</p>